/*
Jacob Sanchez
2/12/2025
CS-382
CSS Styling rules for Personal Website:
- Responsive styling switches layout to a vertical scroll for mobile users.
 */

html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px;
    background-color: rgb(255, 237, 244);
    flex: 1;
}

main p {
    font-size: 20px;
    padding: 30px;
    background-color: rgba(255, 199, 253, 0.315);
    overflow: auto;
    box-shadow: 3px 3px rgb(197, 170, 191);
}

header {
    overflow: visible;
}

footer {
    max-width: 100%;
    padding: 10px;
    background-color: blueviolet;
}

/* ------------- ID STYLING RULES ---------------- */

/* Mobile styling rules for index's headshot, arranged vertically */
@media only screen and (min-width:320px){
    #headshot {
        float: none;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: 10px 10px rgb(197, 170, 191);
    }
}

/* Desktop styling rules for index's headshot, arranges side-by-side with text */
@media only screen and (min-width:1024px){
    #headshot {
        float: left;
        max-width: 400px;
        margin-left: 0px;
        margin-right: 30px;
        display: block;
        box-shadow: 10px 10px rgb(197, 170, 191);
    }
}

#favHeader {
    font-size: 50px;
    color: rgb(186, 64, 247);
    text-align: center;
}

#kritaLogo{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#vidSoprano {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactInfo {
    background-color: rgba(255, 199, 253, 0.315);
    font-size: 20px;
    padding: 30px;
    overflow: auto;
    box-shadow: 3px 3px rgb(197, 170, 191);
    display: flex;
    flex-direction: row;
}

#contactInfo h3 {
    color: rgb(107, 35, 143);
    font-size: 35px;
}

#phone {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ------------- CLASS STYLING RULES ------------- */

/* Mobile styling rules for the miniature pictures. Arranges vertically. */
@media only screen and (min-width:320px){
    .miniWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .miniPics {
        max-width: 300px;
        margin: 5px;
    }

}

/* Desktop styling rules for the miniature pictures. Arranges side-by-side as a sort of 'mini-gallery'. */
@media only screen and (min-width:1024px){
    .miniWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .miniPics {
        max-width: 300px;
        margin: 5px;
    }
}

/* Mobile styling rules for the favorite icons on the CS hobby page. Arranges vertically. */
@media only screen and (min-width:320px){
    .favWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px;
    }

    .favIcons {
        max-width: 200px;
        max-height: 200px;
        margin-right: 30px;
    }

    .favWrapper p {
        flex: 1;
    }
}

/* Desktop styling rules for the favorite icons on the CS hobby page. Arranges horizontally, side-by-side with text. */
@media only screen and (min-width:1024px){
    .favWrapper {
        display: flex;
        flex-direction: row;
        margin: 100px;
    }

    .favIcons {
        max-width: 200px;
        max-height: 200px;
        margin-right: 30px;
    }

    /* Extends paragraph to fill remaining screen space */
    .favWrapper p {
        flex: 1;
    }
}


/* Navigation side bar styling for mobile */
@media only screen and (min-width:320px){
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        min-width: max-content;
    }
    .navigation h1 {
        font-size: 50px;
        color: rgb(216, 137, 255)
    }
    .navigation a {
        margin: 10px;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 40px;
        color:rgb(145, 145, 145);
        text-decoration: none;
    }
    .navigation a:hover {
        background-color: rgb(244, 117, 255);
        color: aliceblue;
        margin: 10px;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 40px;
        text-decoration: none;
    }
}

/* Navigation side bar styling for a full-screen desktop */
@media only screen and (min-width:1024px){
    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow: visible;
        min-width: max-content;
    }

    .navigation h1 {
        font-size: 25px;
        color: rgb(216, 137, 255)
    }
    .navigation a {
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 20px;
        color:rgb(145, 145, 145);
        text-decoration: none;
    }
    .navigation a:hover {
        background-color: rgb(244, 117, 255);
        color: aliceblue;
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 20px;
        text-decoration: none;
    }
}

/* Drop menu styling for mobile. Gets rid of drop menu entirely as mobile can't hover. */
@media only screen and (min-width: 320px){
        /* Drop menu header and parent for all drop menu content */
    .drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Hides the "about" trigger for the drop menu */
    .drop a {
        font-size: 0px;
        margin: 0px;
        padding: 0px;
    }
    .drop a:hover{
        font-size: 0px;
        color:rgb(145, 145, 145);
        background-color: white;
        text-decoration: none;
    }

    .drop-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .drop .drop-content a {
        font-size: 40px;
        color:rgb(145, 145, 145);
        background-color: rgb(255, 255, 255);
        margin: 10px;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .navigation .drop .drop-content a:hover{
        background-color: rgb(244, 117, 255);
        color: aliceblue;
        font-size: 40px;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    /* Adds a small border between the dropdown menu options for easy distinction */
    .navigation .drop .drop-content a {
        border-top: none;
    }
}

/* Drop menu styling for a full-screen Desktop */
@media only screen and (min-width:1024px){
    /* Drop menu header and parent for all drop menu content */
    .drop {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .drop a {
        font-size: 20px;
        color:rgb(145, 145, 145);
        background-color: white;
        text-decoration: none;
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .drop a:hover {
        font-size: 20px;
        background-color: rgb(244, 117, 255);
        color: aliceblue;
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .drop-content {
        display: flex;
        flex-direction: column;
        
        
        position: absolute;
        top: 100%; /*Set's the elements below the header*/
        
        background-color: rgba(255, 255, 255, 0.95);
        
        /* Necessary for drop-down to "animate" by sliding from above out of view and becoming transparent, NOTE: "Display: none" does not work here! */
        visibility: hidden;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.8s ease, transform 0.4s ease;
    }

    /* On hover of the "drop" element, reveal the menu (animated by transition), stays revealed while cursor is on either, as drop is it's parent */
    .drop:hover .drop-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }

    /* Adds a small border between the dropdown menu options for easy distinction */
    .navigation .drop .drop-content a {
        border-top: 1px solid rgba(0, 0, 0, 0.199);
    }

    .drop .drop-content a {
        font-size: 20px;
        color:rgb(145, 145, 145);
        background-color: rgb(255, 255, 255);
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .navigation .drop .drop-content a:hover{
        background-color: rgb(244, 117, 255);
        color: aliceblue;
        font-size: 20px;
        text-decoration: none;
        margin: 15px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* General styling rules for the dark theme: */
.dark {
    background-color: black;
}

.dark main {
    background-color: rgb(71, 0, 62);
}

.dark p {
    color: white;
}

.dark .navigation a {
    color: white;
}

.dark .navigation .drop a {
    background-color: black;
    color: white;
}

.dark .drop-content {
    background-color: black;
    color: white;
}

.dark #contactInfo h3 {
    color: white;
}